<header class="Header:{% if variant %} is-{{ variant }}{% endif %}" data-status="collapsed">
  <div class="Header:bgExpanded"></div>
  <nav class="Header:inner">
    <a class="Header:brand" href="{{ 'home' | page }}">
      <svg><use xlink:href="#logo"></use></svg>
    </a>
    {% partial "components/Hamburger" class='Header:toggle' %}
    <div id="Header:collapse" class="Header:collapse">
      <ul class="Header:nav">
        <li class="Header:nav__item{% if this.page.id == 'contacts' %} is-active{% endif %}">
          <a class="Header:nav__link" href="{{ 'contacts' | page }}">{{ 'menu.contacts'|_ }}</a>
        </li>
        <li class="Header:nav__item Header:locales">
        </li>
      </ul>
    </div>
  </nav>
</header>
