// @import "variables";
// @import "mixins";

:export {
  height: $Header-height;
  heightUncollapsed: $Header-height-uncollapsed;
  expandTime: $Header-transition-duration-ms;
}

.Header\: {
  z-index: $Header-zindex;
  position: $Header-position;
  top: 0;
  left: 0;
  right: 0;
  @include Header-is(collapsed) {
    overflow: hidden;
  }
  @if $Header-font-size != $Typography-font-size {
    font-size: $Header-font-size;
  }
  @if $Header-text-transform {
    text-transform: $Header-text-transform;
  }

  &[data-status="expanded"] {
    overflow: visible;
  }

  &bgExpanded {
    @include Header-is(collapsed) {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 100%;
      transition: bottom $Header-transition, box-shadow $Header-transition;

      [data-status="expanded"] & {
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
      }
    }
  }

  // Header element: inner
  // ---------------------------------------------------------------------------
  &inner {
    max-width: $Header-max-width;
    margin: 0 auto;
    display: flex;
    // @if $Header-position == absolute {
    //   overflow: hidden;
    // }

    @include Header-is(collapsed) {
      min-height: $Header-height;
      flex-direction: column;
    }
    @include Header-is(uncollapsed) {
      align-items: center;
      min-height: $Header-height-uncollapsed;
    }
  }

  // Header element: mobileBar
  //
  // this element allows us to set the header background just behind the logo
  // and the toggle leaving the animation to the Header__bgExpanded element
  // ---------------------------------------------------------------------------
  &mobileBar {
    position: relative;
    display: flex;
    justify-content: space-between;
    // @if $Header-position == fixed {
    //   background-color: ... // this is managed in the dark/light mixins
    // }
  }

  // Header element: mobileBar
  // ---------------------------------------------------------------------------
  &brand {
    display: flex;
    align-items: center;
    padding: $Header__brand-padding-mobile-y $Header__brand-padding-mobile-x;
    @media (min-width: $Header-max-width + $Grid-gutter) {
      padding: 0 0 0 $Grid-gutter-half;
    }

    box-sizing: content-box;
    @if $Header__brand-fixed-size {
      width: $Header__logo-width;
      height: $Header__logo-height;

      @include Header-is(uncollapsed) {
        width: $Header__logo-width-uncollapsed;
        height: $Header__logo-height-uncollapsed;
      }
    }

    // to recenter the logo depending on its actual shape and inner proportion
    svg {
      margin-top: $Header__logo-offset-top;
    }
  }

  // Header element: toggle
  // ---------------------------------------------------------------------------
  &toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    height: $Header-height;
    display: flex;
    align-items: center;

    @include Header-is(uncollapsed) {
      display: none !important;
    }
  }

  // Header element: collapse
  // ---------------------------------------------------------------------------
  &collapse {
    flex: 1;
    display: flex;

    @include Header-is(collapsed) {
      transform: translateX(100%);
      transition: transform $Header-transition;
      &.is-in {
        transform: translateX(0);
      }
    }

    @include Header-is(uncollapsed) {
      box-shadow: none !important;
      max-height: none !important; // override js value
    }
  }

  // Header element: nav
  // ---------------------------------------------------------------------------
  &nav {
    flex: 1;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;

    @include Header-is(uncollapsed) {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    // Header element: nav item
    // -------------------------------------------------------------------------
    &__item {
      @include Header-is(collapsed) {
        display: flex;
        @if $Header-mobile-horizontal-align == right {
          justify-content: flex-end;
        } @else if $Header-mobile-horizontal-align == center {
          justify-content: center;
        }
      }

      // target the last element on the right side and give it the same padding
      // on the right to align the header content as in the grid of the page
      @media (min-width: $Header-max-width + $Grid-gutter) {
        &:last-child .Header\:nav__link:last-child {
          padding-right: $Grid-gutter-half;
        }
      }

      &.is-active > .Header\:nav__link {
        pointer-events: none;
      }
    }

    // Header element: nav link
    // -------------------------------------------------------------------------
    &__link {
      display: block;
      padding: $Header__navLink-padding--collapsed;
      &:hover {
        text-decoration: none;
      }

      @include Header-is(uncollapsed) {
        padding: $Header__navLink-padding-y $Header__navLink-padding-x;
      }
      @include Header-is(collapsed) {
        &:not(.i18nLinks) {
          width: 100%;
          @if $Header-mobile-horizontal-align == right {
            text-align: right;
          } @else if $Header-mobile-horizontal-align == center {
            text-align: center;
          }
        }
      }
    }
  }

  // Header element: locales
  // ---------------------------------------------------------------------------
  &locales {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @if $Header-text-transform {
      text-transform: $Header-text-transform;
    }

    @include Header-is(uncollapsed) {
      justify-content: flex-start;
    }

    // &__link {
    //   &:first-child {
    //     padding-right: math.div($Header__navLink-padding-x, 3) !important;
    //   }
    //   &:last-child {
    //     padding-left: math.div($Header__navLink-padding-x, 3) !important;
    //   }
    // }
  }
}
