//
// @fileOverview
//
// Everything in this is always available in the global scope (using
// `sass-resource-loader` in webpack). Note that here the order matters.
//

// Vendor mixins
// -----------------------------------------------------------------------------
// // $enable-responsive-font-sizes: true !default;
// @import "vendor/rfs";
// // $enable-deprecation-messages: false !default;
// @import "vendor/sass-rem";

// // Utils and Components mixins to make always available
// // -----------------------------------------------------------------------------
// @import "@acanto/core-grid/mixins";
// @import "@acanto/core-responsive/mixins";
// @import "@acanto/core-typography/mixins";
// @import "@acanto/core-forms/mixins";
// @import "@acanto/core-media/mixins";
// @import "@acanto/core-buttons/mixins";
// @import "@acanto/core-dialog/mixins";

// // Base common mixins to make always available
// // -----------------------------------------------------------------------------
// @import "mixins/fonts";
// @import "mixins/overlay";
// @import "mixins/ratio";
// @import "mixins/spacing";
// @import "mixins/svg";

// // custom mixins import, not every project need them:
// @import "@acanto/core-glide/mixins";
// @import "@acanto/components-header/mixins";
