// Module: intro
// -----------------------------------------------------------------------------
.intro\: {
  // Block: overlay
  // ---------------------------------------------------------------------------
  &overlay {
  }

  // Block: wrapSlider
  // ---------------------------------------------------------------------------
  &wrapSlider {
  }

  // Block: slider
  // ---------------------------------------------------------------------------
  &slider {
    // Element: slider -> bullets
    // -------------------------------------------------------------------------
    &__bullets {
    }
  }

  // Block: slide
  // ---------------------------------------------------------------------------
  &slide {
    // Element: slide -> title
    // -------------------------------------------------------------------------
    &__title {
    }

    // Element: slide -> cta
    // -------------------------------------------------------------------------
    &__cta {
    }
  }
}

// Module: about
// -----------------------------------------------------------------------------
.about\: {
  // Modifier: about -> cool
  // ---------------------------------------------------------------------------
  &--cool {
  }

  // Block: images
  // ---------------------------------------------------------------------------
  &images {
    // Element: images -> scene
    // -------------------------------------------------------------------------
    &__scene {
    }
  }

  // Block: text
  // ---------------------------------------------------------------------------
  &text {
    // Element: text -> title
    // -------------------------------------------------------------------------
    &__title {
    }

    // Element: text -> desc
    // -------------------------------------------------------------------------
    &__desc {
      // SubElement: text -> desc -> Col
      // -----------------------------------------------------------------------
      &Col {
      }
    }

    // Element: text -> cta
    // -------------------------------------------------------------------------
    &__cta {
      // SubElement: text -> cta -> Col
      // -----------------------------------------------------------------------
      &Col {
      }
    }
  }
}

// Module: brands
// -----------------------------------------------------------------------------
.brands\: {
  // Block: bg
  // ---------------------------------------------------------------------------
  &bg {
  }

  // Block: fg
  // ---------------------------------------------------------------------------
  &fg {
  }

  // Block: title
  // ---------------------------------------------------------------------------
  &title {
  }

  // Block: area
  // ---------------------------------------------------------------------------
  &area {
    // Modifier: area -> ciao
    // -------------------------------------------------------------------------
    &--ciao {
    }

    // Element: area -> info
    // -------------------------------------------------------------------------
    &__info {
      // SubElement: area -> info -> Slider
      // -----------------------------------------------------------------------
      &Slider {
      }
    }

    // Element: area -> cards
    // -------------------------------------------------------------------------
    &__cards {
      // SubElement: area -> cards -> Slider
      // -----------------------------------------------------------------------
      &Slider {
      }
    }
  }

  // Block: area--mod
  // ---------------------------------------------------------------------------
  &area--mod {
    // Modifier: area--mod -> mod
    // -------------------------------------------------------------------------
    &--mod {
    }
  }

  // Block: sticks
  // ---------------------------------------------------------------------------
  &sticks {
  }

  // Block: bottom
  // ---------------------------------------------------------------------------
  &bottom {
    // Element: bottom -> controls
    // -------------------------------------------------------------------------
    &__controls {
    }

    // Element: bottom -> video
    // -------------------------------------------------------------------------
    &__video {
      // SubElement: bottom -> video -> Cta
      // -----------------------------------------------------------------------
      &Cta {
      }
    }
  }
}

// Module: brand
// -----------------------------------------------------------------------------
.brand\: {
  // Block: name
  // ---------------------------------------------------------------------------
  &name {
  }

  // Block: logo
  // ---------------------------------------------------------------------------
  &logo {
  }

  // Block: desc
  // ---------------------------------------------------------------------------
  &desc {
  }

  // Block: cta
  // ---------------------------------------------------------------------------
  &cta {
  }
}

// Module: formulas
// -----------------------------------------------------------------------------
.formulas\: {
  // Block: title
  // ---------------------------------------------------------------------------
  &title {
  }

  // Block: cards
  // ---------------------------------------------------------------------------
  &cards {
    // Element: cards -> slide
    // -------------------------------------------------------------------------
    &__slide {
      // SubElement: cards -> slide -> Number
      // -----------------------------------------------------------------------
      &Number {
      }

      // SubElement: cards -> slide -> Title
      // -----------------------------------------------------------------------
      &Title {
      }
    }
  }

  // Block: texts
  // ---------------------------------------------------------------------------
  &texts {
    // Element: texts -> slider
    // -------------------------------------------------------------------------
    &__slider {
    }
  }

  // Block: cta
  // ---------------------------------------------------------------------------
  &cta {
  }
}
