/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ca2859;
  --ifm-color-primary-dark: rgb(148, 27, 83);
  --ifm-color-primary-darker: rgb(22, 22, 22);
  --ifm-color-primary-darkest: rgb(0, 0, 0);
  --ifm-color-primary-light: rgb(203, 70, 70);
  --ifm-color-primary-lighter: rgb(212, 102, 102);
  --ifm-color-primary-lightest: rgb(224, 146, 146);
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 15px;
}
.navbar--dark {
  --ifm-navbar-background-color: #222;
}

.navbar__brand:hover,
.navbar__link:hover,
.navbar__link--active {
  color: white;
}

@font-face {
  font-family: "AcantoSans";
  src: url("../../static/fonts/AcantoSans-Regular.woff2") format("woff2"),
    url("../../static/fonts/AcantoSans-Regular.woff") format("woff");
}

h1 {
  font-family: "AcantoSans";
}

.navbar__logo {
  height: 13px;
  margin-right: 20px;
}

.menu__link:focus {
  outline: none;
}

.pipeline {
  background: url(https://gitlab.com/acanto/framework/badges/master/pipeline.svg);
  width: 117px;
  height: 20px;
  filter: grayscale(1);
  opacity: 0.7;
}

.pipeline:hover {
  filter: grayscale(0);
  opacity: 1;
}

/* .table-of-contents__link:not(:hover) + ul {
  display: none;
}
.table-of-contents__link--active + ul {
  display: block;
} */

video {
  max-width: 100%;
}
