//
// Component: AuthLogin
//

.AuthLogin\: {
  // core <x-auth-form...> styling
  // ---------------------------------------------------------------------------
  .authForm {
  }

  // fillform.io styling
  // ---------------------------------------------------------------------------
  .ff\: {
  }
}
