//
// Component: AuthPasswordRecovery
//

.AuthPasswordRecovery\: {
  // core <x-auth-form...> styling
  // ---------------------------------------------------------------------------
  .authForm {
  }

  // fillform.io styling
  // ---------------------------------------------------------------------------
  .ff\: {
  }
}
