//
// Component: AuthPasswordReset
//

.AuthPasswordReset\: {
  // core <x-auth-form...> styling
  // ---------------------------------------------------------------------------
  .authForm {
  }

  // fillform.io styling
  // ---------------------------------------------------------------------------
  .ff\: {
  }
}
