//
// Component: Form profile
//

.AuthProfile\: {
  // core <x-auth-form...> styling
  // ---------------------------------------------------------------------------
  .authForm {
  }

  // fillform.io styling
  // ---------------------------------------------------------------------------
  .ff\: {
  }
}
