//
// Component: AuthRegister
//

.AuthRegister\: {
  // core <x-auth-form...> styling
  // ---------------------------------------------------------------------------
  .authForm {
  }

  // fillform.io styling
  // ---------------------------------------------------------------------------
  .ff\: {
  }
}
