//
// To manage static pages content coherently
//

.Page\: {
  @include Header-spacer();

  // Page wrap section
  // ---------------------------------------------------------------------------
  &wrap {
    @include Spacing-vertical(lg);
    @include Container-max(lg);
    padding-left: $Grid-gutter-half;
    padding-right: $Grid-gutter-half;

    &__inner {
      max-width: 700px;
      margin: 0 auto;
    }
  }

  // Page title
  // ---------------------------------------------------------------------------
  &title {
    @extend %Heading;

    & + .page\:content {
      @include Spacing-top(md);
    }
  }

  // Page content
  // ---------------------------------------------------------------------------
  &content {
    @extend %Body;
    line-height: 1.53;

    & + .page\:content {
      @include Spacing-top(md);
    }

    & p:last-of-type {
      margin-bottom: 0;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      // @extend %Heading;
      letter-spacing: 5px;
      color: Color(red);
      @include Spacing-vertical(sm);
    }
  }
}
