<section class="Page:">
  <article class="Page:wrap">
    <div class="Page:wrap__inner">
      {% if title or page.title %}
        <h1 class="Page:title">
          {{ title ?? page.title }}
        </h1>
      {% endif %}
      {% if subtitle or page.subtitle %}
        <h2 class="Page:subtitle">
          {{ subtitle ?? page.subtitle }}
        </h2>
      {% endif %}
      {% if content or page.content %}
        <div class="Page:content">
          {{ content ?? (page.content|raw) }}
        </div>
      {% endif %}
    </div>
  </article>
</section>
