.FormContact\: {
  &title {
  }

  // fillform.io styling
  // ---------------------------------------------------------------------------
  .of\: {
    @extend %Row;

    &name,
    &email,
    &company {
      @include Col(lg, 4);
    }

    &message {
      @include Col(12);
    }

    &privacy-policy {
      @include OF-standard-privacy();
    }

    &submit {
      @include OF-standard-submit();
    }
  }
}
