<div class="FormContact:"{% if anchor %} id="{{ anchor }}"{% endif %}>
  <div class="container-xl">
    {% if title %}
      <p class="FormContact:title">{{ title }}</p>
    {% endif %}
    {% partial "fillform/feedback"
      feedbackSuccess='contactform.success' | _
      feedbackFailure='contactform.fail' | _
    %}
    {% partial "fillform/base"
      form='533664cd32eea629d9692c3231225188' | ff({
        newsletter: true,
        forms: { it: '114', en: '131' },
        extra: { subject: 'contactform.email.subject' | _  }
      })
      domId='myForm'
      submitClassName='btnCustom'
      textareaRows=4
      iconFile='upload'
    %}
  </div>
</div>
