{%- if type == 'header' -%}
  {%- if 'acanto.net' in urlbase -%}
{%- put styles -%}
<link rel="dns-preconnect" href="https://www.google-analytics.com">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
{%- endput -%}
    {{ gtm_header | raw -}}
  {%- elseif 'localhost' in urlbase -%}
    {# localhost #}
  {%- elseif 'test' in urlbase -%}
    {# localhost #}
  {%- else -%}
{%- put styles -%}
<link rel="dns-preconnect" href="https://www.google-analytics.com">
<link rel="dns-prefetch" href="https://www.google-analytics.com">
{%- endput -%}
    {{ gtm_header_prod | raw -}}
  {% endif -%}

{%- endif -%}

{%- if type == 'body' -%}

  {%- if 'acanto.net' in urlbase -%}
    {{ gtm_body | raw }}
  {%- elseif 'localhost' in urlbase -%}
    {# localhost #}
  {%- elseif 'test' in urlbase -%}
    {# localhost #}
  {%- else -%}
    {{ gtm_body_prod | raw }}
  {%- endif -%}

{%- endif -%}
