{# prettier-ignore-start #}
<{{ tag | default('div') }}{% if id %} id="{{ id }}"{% endif %} class="Hamburger:{% if class %} {{ class }}{% endif %}">
  <div class="Hamburger:inner">
    <div class="bar bar1"></div>
    <div class="bar bar2"></div>
    <div class="bar bar3"></div>
  </div>
</{{ tag | default('div') }}>
{# prettier-ignore-end #}
