<div class="of:feedback">
  <div class="of:feedback__msg of:feedback__success">
    {{ feedbackSuccess | raw }}
  </div>
  <div class="of:feedback__msg of:feedback__failure">
    {{ feedbackFailure | raw }}
  </div>
</div>
