<script>
window.Gallery = window.Gallery || {};
window.Gallery["{{ name }}"] = {{ gallery|json_encode() | raw }};
</script>
{% if seo %}
  <noscript>
  {% for img in gallery -%}
    <img src="{{ img.src }}"{%- if alt %} alt="{{ img.alt }}"{% endif %} width="{{ width }}" height="{{ height }}">
  {%- endfor %}
  </noscript>
{% endif %}
