//
// Component: Header
//

@import "@acanto/components-header/index";

.Header\: {
  // Block: inner
  // ---------------------------------------------------------------------------
  &inner {
  }

  // Element: nav -> item
  // ---------------------------------------------------------------------------
  &nav__item {
  }

  // Element: nav -> link
  // ---------------------------------------------------------------------------
  &nav__link {
  }
}

// Core: i18nLinks
// -----------------------------------------------------------------------------
.i18nLinks {
}
