<div class="ff:feedback">
  <div class="ff:feedback__msg ff:feedback__success">
    {{ feedbackSuccess | raw }}
  </div>
  <div class="ff:feedback__msg ff:feedback__failure">
    {{ feedbackFailure | raw }}
  </div>
</div>
