.FormContact\: {
  @include Container-max(md);
  @include Spacing-vertical(lg);

  // Block: title
  // ---------------------------------------------------------------------------
  &title {
    @extend %heading;
    color: Color(black);
  }

  // fillform.io styling
  // ---------------------------------------------------------------------------
  .ff\: {
    @extend %Row;

    &el {
      @include Col(md, 6);
      @include Col(lg, 4);
    }

    &message,
    &privacy,
    &submit {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }

    &submit {
      @include FF-standard-submit("right");
    }
  }

  .btn {
  }
}
