{#- {{ form | json }} -#}
<form{% if domId %} id="{{ domId }}"{% endif %} class="of:" data-of-token="{{ form.token }}" data-of-id="{{ form.id }}">
  {% for field in form.fields %}
    {% set fieldId = 'of-' ~ form.id ~ '-' ~ field.name %}
    {% set prevField = form.fields[loop.index - 2] %}
    {% set nextField = form.fields[loop.index] %}
    {% if field.element == "Input" %}
      {% if field.typology == "checkbox" %}
        {% if nextField.typology == "checkbox" %}
        <div class="of:group of:{{ field.name }}-{{ nextField.name }}">
        {% endif %}
        <div class="of:el of:{{ field.name }}" of-field="{{ field.id_field }}">
          {% partial "forms/checkbox"
            id=fieldId
            label=field.label
            name=field.name
            type=field.typology
            required=field.required
            attrs=field.attribute
            classElement=field.class
          %}
        </div>
        {% if prevField.typology == "checkbox" %}
        </div>
        {% endif %}
      {% elseif field.typology == "submit" %}
        <div class="of:el of:{{ field.name }}" of-field="{{ field.id_field }}">
          {% partial "forms/submit"
            id=fieldId
            label=field.label
            attrs=field.attribute
            classRoot=submitClassName
            classElement=field.class
          %}
        </div>
      {% elseif field.typology == "file" %}
        <div class="of:el of:{{ field.name }}" of-field="{{ field.id_field }}">
          {% partial "forms/file"
            id=fieldId
            label=field.label
            placeholder=field.placeholder ?? field.placheholder
            name=field.name
            type=field.typology
            required=field.required
            attrs=field.attribute
            classElement=field.class
            icon=iconFile
          %}
        </div>
      {% else %}{# field.typology == "text" | "email" | "url" -#}
        <div class="of:el of:{{ field.name }}" of-field="{{ field.id_field }}">
          {% partial "forms/input"
            id=fieldId
            label=field.label
            placeholder=field.placeholder ?? field.placheholder
            name=field.name
            type=field.typology
            required=field.required
            attrs=field.attribute
            classElement=field.class
          %}
        </div>
      {% endif %}
    {% elseif field.element == "InputList" %}
      {% if field.typology == "radio" %}
        <div class="of:el of:{{ field.name }}" of-field="{{ field.id_field }}">
          {% partial "forms/radio"
            id=fieldId
            label=field.label
            name=field.name
            type='radio'
            options=field.option
            required=field.required
            attrs=field.attribute
            classElement=field.class
          %}
        </div>
      {% else %}
        <div class="of:el of:{{ field.name }}" of-field="{{ field.id_field }}">
          {% partial "forms/select"
            id=fieldId
            label=field.label
            placeholder=field.placeholder ?? field.placheholder
            name=field.name
            type='select'
            options=field.option
            required=field.required
            attrs=field.attribute
            classElement=field.class
          %}
        </div>
      {% endif %}
    {% elseif field.element == "Textarea" %}
      <div class="of:el of:{{ field.name }}" of-field="{{ field.id_field }}">
        {% partial "forms/textarea"
          id=fieldId
          label=field.label
          placeholder=field.placeholder ?? field.placheholder
          name=field.name
          required=field.required
          attrs=field.attribute
          rows=textareaRows | default(8)
          classElement=field.class
        %}
      </div>
    {% endif %}
  {% endfor %}
</form>
<script>
  window.FF = window.FF || {};
  window.FF["{{ form.token }}"] = window.FF["{{ form.token }}"] || {};
  window.FF["{{ form.token }}"]["{{ form.id }}"] = {{ form|json_encode()|raw }};
</script>
