<div class="Wall:" style="max-width: {{ wall.maxWidth }}px">
  {% for row in wall.rows %}
    <div class="Wall:row">
      {% for col in row.cols %}
        <div class="Wall:col Wall:col--{{ col.direction }}"
          style="flex-basis: {{ col.width }}px; max-width: {{
          row.maxWidthCol
          }}px">
          {% for brick in col.bricks %}
            {% set effectDelay = ' data-aos-delay=' ~ loop.index * 100 %}
            {% set effect = loop.index % 2
              ? 'data-aos=slide-left' ~ effectDelay
              : 'data-aos=slide-right' ~ effectDelay
            %}
            <div class="Wall:col__brick">
              {% partial 'media/img'
                src
                =
                brick.src ? brick.src : ''
                local_src
                =
                brick.local_src ? brick.local_src : ''
                alt
                =
                brick.altKey ? brick.altKey|_ : brick.alt
                width
                =
                brick.width
                height
                =
                brick.height
                attrsRoot
                =
                effect
                progress
                =
                false
              %}
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
