.Wall\: {
  box-sizing: content-box;
  // max-width: {number}px // set inline in the template
  margin: 0 auto;
  padding-left: $Grid-gutter-half;
  padding-right: $Grid-gutter-half;

  &row {
    display: flex;
    flex-direction: column;
    margin-left: -$Grid-gutter-half;
    margin-right: -$Grid-gutter-half;
    @include Up(md) {
      flex-direction: row;
    }
  }

  &col {
    display: flex;
    width: 100%;
    justify-content: space-between;
    // flex-direction: row/column; // set inline in the template
    // flex-basis: {number}px; // set inline in the template
    // max-width: {number}px; // set inline in the template
    margin: 0 auto; // this centers the columns when stacked

    &--vertical {
      flex-direction: column;
    }

    &--horizontal {
      flex-direction: row;
    }

    &__brick {
      width: 100%;
      height: 100%;
      padding: $Grid-gutter-half;

      .media {
        width: 100%;
        height: 100%;
      }
    }
  }

  // stack images inside cols
  @include Down(sm) {
    &col {
      flex-basis: auto !important;
    }

    .media {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}
