@import "variables";

//
// Nav mobile
//
// -----------------------------------------------------------------------------
@mixin Nav-mobile() {
  min-width: 100%;
  min-height: 1px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: $Nav-bg;
  font-size: $Nav-font-size;
  transition-duration: $Header-transition-duration;
  transition-timing-function: $Header-transition-timing-function;

  // equal nav item width
  .Header\:nav__item {
    @media (min-width: $Nav-breakpoint-equal-items) {
      flex: 1;
    }
  }

  .Header\:nav__link {
    padding: $Nav__navLink-padding--mobile;
    text-align: center !important;
  }

  // smaller padding just on tiny screens
  @include Only(xs) {
    .Header\:nav__link {
      padding: math.div($Nav__navLink-padding--mobile, 2)
        $Nav__navLink-padding--mobile;
    }
  }
}

//
// Nav inline
//
// -----------------------------------------------------------------------------
@mixin Nav-inline() {
  .Nav\: {
    transform: translateX(100%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transition: transform $Header-transition;

    // swap the headers nav inside the .Header
    &--in & {
      transform: translateX(0);
    }
    &--in & + .Header\:nav {
      transform: translateX(100%);
    }

    @at-root .Header\:collapse {
      position: relative;
      overflow: hidden;
    }
    @at-root .Header\:nav {
      transition: transform $Header-transition;
    }
  }
}

//
// Nav bottom
//
// -----------------------------------------------------------------------------
@mixin Nav-bottom() {
  .Nav\: {
    @include Nav-mobile();
    box-shadow: 0 0 0;
    transform: translateY(100%);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transition-property: transform, box-shadow, opacity;

    // when the Nav in header is visible
    &--in & {
      box-shadow: 0 -10px $Header-shadow-size $Header-shadow-color;
      transform: translateY(0);
    }

    // show it only when the main header nav is collapsed
    opacity: 0;
    [data-status="collapsed"] & {
      opacity: 1;
    }

    // we do this because to have the Nav positioned fixed correctly we need to
    // undo the transforms of the Nav parents
    @at-root .Header\:collapse {
      transform: none;
    }

    // move the .Header\:collapse slideIn animation to the main Header\:nav,
    // coming in the markup after the Nav, we do this because the above rule
    & + .Header\:nav {
      transform: translateX(100%);
      transition: transform $Header-transition;
      .in & {
        transform: translateX(0);
      }
    }
  }
}

//
// Nav top
//
// -----------------------------------------------------------------------------
@mixin Nav-top() {
  .Nav\: {
    @include Nav-mobile();
    box-shadow: 0 10px $Header-shadow-size $Header-shadow-color;
    transform: translateX(0);
    transition-property: transform, box-shadow, opacity;

    // show it only when the main header nav is collapsed
    opacity: 0;
    [data-status="collapsed"] & {
      opacity: 1;
    }

    // when the Nav in header is visible
    &--in & {
      transform: translateX(-100%);
    }

    // modify the Header component to accomodate the Nav
    &--in [data-status="collapsed"] .Header\:collapse {
      max-height: none !important;
    }
    & + .Header\:nav {
      max-height: 0;
      transition: max-height $Header-transition;
      transform: translateX(-100%);
      min-width: 100%;
    }
    [data-status="expanded"] & + .Header\:nav {
      max-height: 100vh;
    }
  }
}
