inside the Header component:<div id="Header:collapse" class="Header:collapse">
  {% if custom_nav %}
    <ul class="Header:nav Nav:">
      <li class="Header:nav__item">
        <a class="Header:nav__link" href="#anchor" data-smooth>
          {{ 'text'|_ }}
        </a>
      </li>
      <li class="Header:nav__item">
        <a class="Header:nav__link" href="#anchor2" data-smooth>
          {{ 'text2'|_ }}
        </a>
      </li>
    </ul>
  {% endif %}...
</div>
